form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

.invalid-input {
    background-color: rgba(248, 131, 121, 0.25);
    border: 2px solid #ff7f7f;
}

.invalid-text {
    color: red;
}